.gridpane{
	-fx-alignment: center;
	-fx-background-insets: 20,20,20,20;
	-fx-padding: 20,20,20,20;
	-fx-background-color: #FFFFFF;
}

.label{
	-fx-font: 25px Georgia;
	-fx-text-alignment: right;
}

.title{
	-fx-font: 65px Georgia;
	-fx-text-alignment: center;
	-fx-text-fill: #b30000;
}

.button{
	-fx-alignment: center;
	-fx-labelpadding: 10,10,10,10;
	-fx-background-color: #CCCCCC;
	-fx-font: 25px Georgia;
}

.button:hover{
    -fx-background-color: #808080;
}

.textfield{
	-fx-font: 25px Georgia;	
	-fx-alignment: center;
}

.choicebox{
	-fx-pref-width: 600;
}

@charset "UTF-8";