.label{
	-fx-font: 25px Georgia;
	-fx-padding: 10,10,10,10;
}

.toggle-button{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
	-fx-labelpadding: 10,10,10,10;
	-fx-background-color: #CCCCCC;
}

.toggle-button:hover {
    -fx-background-color: #808080;
}

.toggle-button:selected {
    -fx-background-color: #808080; 
}

@charset "UTF-8";