.bottombar{
	-fx-background-color: LIGHTSALMON;
	-fx-alignment: center;
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
}

.label{
	-fx-font: 25px Georgia;
}

.subtitle{
	-fx-font: 30px Georgia;
}

.title{
	-fx-font: 75px Georgia;
}

.gridpane{
	-fx-alignment: center;
	-fx-background-insets: 10,10,10,10;
	-fx-padding: 10,0,0,10;
}

.topbar{
	-fx-background-color: LIGHTSALMON;
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
	-fx-spacing: 550;
	-fx-alignment: center;
}

.sidebar{
	-fx-background-color: #CCCCCC;
	-fx-spacing: 10;	
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
	-fx-alignment: top-center;
}

.wrapper{
	-fx-background-color: #CCCCCC;
}

.button{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
	-fx-labelpadding: 5,5,5,5;
	-fx-padding: 10,10,10,10;
	-fx-background-color: #CCCCCC;
}

.button:hover {
    -fx-background-color: #808080;
}

.toggle-button{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
	-fx-labelpadding: 10,10,10,10;
	-fx-background-color: #CCCCCC;
}

.toggle-button:hover {
    -fx-background-color: #808080;
}

.toggle-button:selected {
    -fx-background-color: #808080; 
}


@charset "UTF-8";