.label{
	-fx-font: 25px Georgia;
	-fx-padding: 10,10,10,10;
}

.title{
	-fx-font: 100px Georgia;	
	-fx-text-alignment: center;
	-fx-text-fill: #b30000;
}

.subtitle{
	-fx-font: 50px Georgia;
}

.centrallabel{
	-fx-font: 35px Georgia;
	-fx-text-alignment: center;
}

.topbar{
	-fx-background-color: LIGHTSALMON;
	-fx-background-insets: 0,0,0,0;
	-fx-alignment: center;
}

.leftbar{
	-fx-background-color: #CCCCCC;
	-fx-spacing: 10;	
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
	-fx-alignment: top-center;
}

.rightbar{
	-fx-background-color: #CCCCCC;
	-fx-spacing: 10;	
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
	-fx-alignment: top-center;
}

.gridpane{
	-fx-background-insets: 10,10,10,10;
	-fx-padding: 10,50,50,10;
	-fx-alignment: center;	
}

.button{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
	-fx-labelpadding: 5,5,5,5;
	-fx-background-color: #CCCCCC;
}

.button:hover {
    -fx-background-color: #808080;
}

.textfield{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
}

.bottombar{
	-fx-background-color: LIGHTSALMON;
	-fx-alignment: center;
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
}

@charset "UTF-8";