.label{
	-fx-font: 25px Georgia;
	-fx-padding: 10,10,10,10;
}

.response-label{
	-fx-font: 25px Georgia;
	-fx-text-fill: #003399;
	-fx-font-style: italic;
	-fx-text-alignment: left;
}

.pre-label{
	-fx-font: 25px Georgia;
	-fx-text-decoration: underline;
}

.title{
	-fx-font: 150px Georgia;	
	-fx-text-alignment: center;
	-fx-text-fill: #b30000;
}

.subtitle{
	-fx-font: 85px Georgia;
	-fx-text-alignment: center;
}

.side-title{
	-fx-font: 30px Georgia;
	-fx-text-fill: #b30000;
	-fx-underline: true;
}

.centrallabel{
	-fx-font: 35px Georgia;
	-fx-text-alignment: center;
}

.topbar{
	-fx-background-color: LIGHTSALMON;
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
	-fx-spacing: 550;
	-fx-alignment: center;
}

.leftbar{
	-fx-background-color: #CCCCCC;
	-fx-spacing: 10;	
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
	-fx-alignment: top-center;
}

.rightbar{
	-fx-background-color: #CCCCCC;
	-fx-spacing: 10;	
	-fx-background-insets: 0,0,0,0;
	-fx-padding: 10,10,10,10;
	-fx-alignment: top-center;
}

.gridpane{
	-fx-background-insets: 10,10,10,10;
	-fx-padding: 10,50,50,10;
	-fx-alignment: center;
}

.grid-pane{
	-fx-background-insets: 10,10,10,10;
	-fx-padding: 10,50,50,10;
	-fx-alignment: top-center;
}

.textfield{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
}

.button{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
	-fx-labelpadding: 5,5,5,5;
	-fx-padding: 10,10,10,10;
	-fx-background-color: #CCCCCC;
}

.button:hover {
    -fx-background-color: #808080;
}

.toggle-button{
	-fx-font: 25px Georgia;
	-fx-alignment: center;
	-fx-labelpadding: 10,10,10,10;
	-fx-background-color: #CCCCCC;
}

.toggle-button:hover {
    -fx-background-color: #808080;
}

.toggle-button:selected {
    -fx-background-color: #808080; 
}

@charset "UTF-8";